*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* SECTION 1 */

.sec1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec1 .nav{
    height: 100px;
    display: flex;
    align-items: center;
}

.sec1 .nav img{
    height: 100px;
    margin: 50px 0 0 20px;
}
.sec1 .nav li{
    margin: 50px 0 0 50px;
    font-family: "Montserrat";
}
.sec1 .nav li a {
    color: white;
}


.sec1 .title p {
    font-family: "Abril Fatface";
    margin-left: 100px;
    font-size: 7em;
    color: white;
    line-height: 110px;
}

.sec1 .scroll{
    color: white;
    margin: 0 0 10px 120px;
    font-size: 20px;
}

.sec1 .scroll a{
    font-family: "Montserrat";
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.sec1 .scroll i{
    transform: translateY(10%);
}

@media(max-width: 900px){
    .sec1 .title p {
        font-size: 5em;
        text-align: center;
        padding: 0px 10px;
        margin-left: 0;
    }
    .sec1 .nav{
        flex-direction: column;
        align-items: center;
    }
    .sec1 .nav img{
        margin: 0;
    }
    .sec1 .nav li{
        margin: 10px 0 10px 10px;
        align-items: baseline;
        justify-content: center;
    }
}
@media(max-width: 570px){
    .sec1 .title p {
        font-size: 4em;
        text-align: center;
        padding: 0px 10px;
        margin-left: 0;
    }
}
@media(max-width: 405px){
    .sec1 .title p {
        font-size: 3em;
        text-align: center;
        padding: 0px 10px;
        margin-left: 0;
    }
}
@media(max-height: 737px) and (max-width: 700px){
    .sec1 .title p {
        font-size: 3em;
        text-align: center;
        padding: 0px 10px;
        margin-left: 0;
    }
}
@media(max-width: 280px){
    .sec1 .title p {
        font-size: 2em;
        text-align: center;
        line-height: 60px;
        padding: 0px;
        margin-left: 0;
    }
}


/* SECTION 2 */

.sec2{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 100%;
}

.sec2 .icon i{
    color: #ADD981;
    font-size: 50px;
}
.sec2 .icon p{
    font-size: 30px;
}
.sec2 .icon{
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    padding-right: 20px;
}

@media (max-width: 576px) {
    .sec2 .icon{
        margin-bottom: 40px;
        padding-right: 0;
    }
}

/* SECTION 3 */
.sec3{
    margin: 150px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sec3 h1{
    position: relative;
    font-size: 6em;
    margin-left: 190px;
    margin-bottom: 50px;
}
.sec3 h1::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 10px;
    background: #ADD981;
    top: 110px;
}

.sec3 .plantes{
    color: white;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec3 .plante{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}


.sec3 .plante1{
    background-image: url(images/nos_meilleures_ventes/1.jpg);
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 100%;
}
.sec3 .plante2{
    background-image: url(images/nos_meilleures_ventes/2.jpg);
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 100%;
}
.sec3 .plante3{
    background-image: url(images/nos_meilleures_ventes/3.jpg);
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 100%;
}
.sec3 .plante4{
    background-image: url(images/nos_meilleures_ventes/4.jpg);
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 100%;
}

.sec3 .price{
    font-family: "Montserrat";
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 1fr);
    height: 80px;
    width: 100%;
    background: #FFFFFFDF;
}

.sec3 .price h2{
    margin-top: 10px;
    color: black;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 23px;
}

.sec3 .price p{
    color: #ADD981;
    font-weight: bold;
    grid-area: 2 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
}

.sec3 button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 160px;
    margin: auto;
    font-size: 15px;
    grid-area: 1 / 3 / 3 / 6;
    border-radius: 20px;
    background: #ADD981;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media (max-width: 1412px) {
    .sec3 h1{
        font-size: 4em;
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
    }
    .sec3 h1::before{
        top: 80px;
        width: 50px;
        height: 8px;
    }
    .sec3 .plante1{
        width: 25%;
        height: 70%;
    }
    .sec3 .plante2{
        width: 25%;
        height: 70%;
    }
    .sec3 .plante3{
        width: 25%;
        height: 70%;
    }
    .sec3 .plante4{
        width: 25%;
        height: 70%;
    }
    .sec3 .price{
        height: 80px;
        width: 80%;;
    }
    .sec3 button{
        height: 40px;
        width: 100px;
    }
    .sec3 .price{
        font-family: "Montserrat";
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(2, 1fr);
        height: 80px;
        width: 100%;
        background: #FFFFFFDF;
    }
    .sec3 .price h2{
        font-size: 18px;
    }
}

@media (max-width: 973px){
    .sec3 h1{
        font-size: 3em;
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
    }
    .sec3 .plantes{
        text-align: -webkit-center;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(2, 1fr);
    }
    .sec3 .price p,
    .sec3 .price h2{
        display: none;
    }
    .sec3 .price{
        display: flex;
    }
    .sec3 .plante1{
        grid-area: 1 / 2 / 2 / 3;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .sec3 .plante2{
        grid-area: 1 / 4 / 2 / 5;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .sec3 .plante3{
        grid-area: 2 / 2 / 3 / 2;
        width: 100%;
        height: 100%;
    }
    .sec3 .plante4{
        grid-area: 2 / 4 / 3 / 5;
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 900px){
    .sec3 h1{
        font-size: 3em;
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 100px;
    }
    .sec3 .plantes{
        text-align: -webkit-center;
        margin-top: 50px;
        display: block;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(2, 1fr);
    }
    .sec3 button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 140px;
        margin: auto;
        font-size: 15px;
        grid-area: 1 / 3 / 3 / 6;
        border-radius: 20px;
        background: #ADD981;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
    .sec3 .price{
        font-family: "Montserrat";
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(2, 1fr);
        height: 80px;
        width: 100%;
        background: #FFFFFFDF;
    }
    
    .sec3 .price h2{
        margin-top: 10px;
        color: black;
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 23px;
    }
    
    .sec3 .price p{
        color: #ADD981;
        font-weight: bold;
        grid-area: 2 / 1 / 4 / 3;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 15px;
    }
    .sec3 h1::before{
        top: 60px;
        width: 50px;
        height: 7px;
    }
}
@media (max-width: 530px){
    .sec3 h1{
        font-size: 2em;
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 100px;
    }
    .sec3 h1::before{
        top: 50px;
        width: 50px;
        height: 5px;
    }
}
@media (max-height: 720px) and (max-width: 1000px){
    .sec1 .title p{
        line-height: 70px;
    }
}

/* SECTION 4  */
.sec4{
    display: flex;
    flex-direction: column;
}
.sec4 h1{
    position: relative;
    font-size: 6em;
    margin-left: 190px;
    margin-bottom: 50px;
}
.sec4 h1::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 10px;
    background: #ADD981;
    top: 110px;
}

.sec4 .plante{
    display: flex;
    align-items: flex-end;
}

.sec4 .plantes{
    height: 800px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(2, 50%);
}

.sec4 .plante1{
    background-image: url(images/nos_plantes/1.jpg);
    background-position: center;
    background-size: cover;
    grid-area: 1 / 1 / 3 / 2;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: flex-end;

}
.sec4 .plante2{
    background-image: url(images/nos_plantes/2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-self: flex-start;
    grid-area: 1 / 2 / 2 / 3;
    height: 97%;
    align-items: flex-end;
}

.sec4 .plante3{
    background-image: url(images/nos_plantes/3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-self: flex-end;
    height: 97%;
    grid-area: 2 / 2 / 3 / 3;
    align-items: flex-end;

}

.sec4 .price{
    font-family: "Montserrat";
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 1fr);
    height: 80px;
    width: 100%;
    background: #FFFFFFDF;
}

.sec4 .price h2{
    margin-top: 10px;
    color: black;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 23px;
}

.sec4 .price p{
    color: #ADD981;
    font-weight: bold;
    grid-area: 2 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
}

.sec4 button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 160px;
    margin: auto;
    font-size: 15px;
    grid-area: 1 / 3 / 3 / 6;
    border-radius: 20px;
    background: #ADD981;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* SECTION 5 */
.sec5{
    display: flex;
    height: 800px;
    width: 85%;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.sec5 .plante{
    display: flex;
    align-items: flex-end;
}

.sec5 .plante1{
    background-image: url(images/nos_plantes/4.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 20%;
    margin-right: 35px;
}
.sec5 .plante2{
    background-image: url(images/nos_plantes/5.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 50%;
    margin-right: 35px;
}
.sec5 .plante3{
    background-image: url(images/nos_plantes/6.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 20%;
}

.sec5 .price{
    font-family: "Montserrat";
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 1fr);
    height: 80px;
    width: 100%;
    background: #FFFFFFDF;
}

.sec5 .price h2{
    margin-top: 10px;
    color: black;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 23px;
}

.sec5 .price p{
    color: #ADD981;
    font-weight: bold;
    grid-area: 2 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
}

.sec5 button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 160px;
    margin: auto;
    font-size: 15px;
    grid-area: 1 / 3 / 3 / 6;
    border-radius: 20px;
    background: #ADD981;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer{
    background-color: #ADD981;
    font-family: "Montserrat";
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}